#content {
    /**position: absolute;**/
    min-height: 100%;
    min-width: 100%;
    background-color: #44475A;
    padding: 33px;
    font-family: Roboto;
}

#main {
  background: #fff;
  border-radius: 4px;
  padding: 5px 20px 20px 20px;
  max-width: 670px;
  margin: 0 auto;
}

header {
  padding: 0 20px 20px 20px;
}

footer, header, .languages {
  text-align: center;
}

#avatar {
  height: 200px;
  width: 200px;
  margin: 0 auto 20px auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 120px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5), 0 4px 8px rgba(0,0,0,0.2);
 }
 a, .social, .languages {
   color: #526d7a;
 }
  
a:hover {
   text-decoration: none;
 }
  
 .social a, .languages a {
   margin: 0 10px;
 }

  .social,
  .social a {
    font-size: 1.5em;
  }

  .social, .languages {
   margin-top: 25px;
   margin-bottom: 20px;
 }
 